<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../utilitarios/style.css">
    <title>Document</title>
</head>
<body class="tipoUsuario-body">
    <h1 class="titulo">Tipo de usuário</h1>
    <div class="imagens">
        <div class="tipoUsuarioPraticante">
            <a href="praticante/cadastro.html">
                <img class="tipoUsuarioPraticante-img" src="../img/FotoPraticante.png" alt="">
                <h2>Praticante</h2>
            </a>
        </div>
        <div class="tipoUsuarioInstrutor">
            <a href="instrutor/cadastro.html">
                <img class="tipoUsuarioInstrutor-img" src="../img/FotoInstrutor.png" alt="">
                <h2>Instrutor</h2>
            </a>
        </div>
    </div>
    <img src="../img/logoMuscleUp.png" alt="">
</body>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

</html>
